# Core
django==4.2.9
python-dotenv
str2bool
Pillow
djangorestframework
markdown
django-filter
factory_boy
postgis

# UI
django-admin-argon-dashboard==1.0.16
fontawesomefree

# Deployment
whitenoise
gunicorn
uvicorn

psycopg2-binary
# mysqlclient
dj-database-url


jupyter 
notebook

numpy
pandas
scikit-learn
joblib
keras
tensorflow
tensorflow-hub
matplotlib