# Core
django==4.2.9
python-dotenv==1.0.1
str2bool==1.1
Pillow
djangorestframework
markdown
django-filter
factory_boy
postgis

# UI
django-admin-argon-dashboard==1.0.16
fontawesomefree

# Deployment
whitenoise==6.6.0
gunicorn==21.2.0 
uvicorn

psycopg2-binary
# mysqlclient
dj-database-url

whitenoise[brotli]

jupyter 
notebook

numpy
pandas
scikit-learn
joblib
keras
tensorflow
