<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<!-- Document Meta
    ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--IE Compatibility Meta-->
	<meta name="author" content="zytheme"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Multi-purpose Business html5 landing page">
	<link href="static/img/logo-ct.png" rel="icon">

	<!-- Fonts
    ============================================= -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMerriweather:300,300i,400,400i,700,700i,900,900i' rel='stylesheet' type='text/css'>

	<!-- Stylesheets
    ============================================= -->
	<link href="static/css/external.css" rel="stylesheet">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">	
    <link href="static/css/style.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

	<!-- Document Title
    ============================================= -->
	<title>NetPersonas | NetPersonas Firm Html5 onepage</title>
</head>

<body class="body-scroll">
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="wrapper clearfix">	<!-- Header
        ============================================= -->
		<header id="navbar-spy" class="header header-1 header-transparent header-fixed">

			<nav id="primary-menu" class="navbar navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					
						<a class="logo" href="#">
						<img class="logo-dark" src="static/img/logo-update.jpg" alt="appy Logo">
						<img class="logo-light" src="static/img/logo-update-light.jpg" alt="appy Logo">
					</a>
					</div>
					<div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
						<ul class="nav navbar-nav nav-pos-right navbar-left nav-split">
							<li class="active"><a data-scroll="scrollTo" href="#slider">home</a>
							</li>
							<li><a data-scroll="scrollTo" href="#about">about</a>
							<li><a data-scroll="scrollTo" href="#feature2">feature</a>
							</li>
							
							</li>
							<li><a data-scroll="scrollTo" href="#team">team</a>
							</li>
							<li><a data-scroll="scrollTo" href="#banner3">why us</a>
							</li>
							<li><a data-scroll="scrollTo" href="#testimonial">Feedback</a>
							</li>
							<li><a data-scroll="scrollTo" href="#banner">Free Consultation</a>
							</li>
							<li><a href="blog-standard.html">blog</a>
							</li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</nav>

		</header><!-- Slider #1
=== === === === === === === === === === === === === === -->
<section id="slider" class="section slider carousel slider slider-navs" data-slide="1" data-autoplay="true" data-nav="true" data-dots="false" data-space="0" data-loop="true" data-speed="800">
	<div class="slide--item bg-overlay bg-overlay-dark">
		<div class="bg-section">
			<img src="static/img/bg-profile.jpg" alt="bg">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 text-center wow fadeInUp" data-wow-duration="1s">
					<div class="slide--headline">Welcome to Legal Firm</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center wow fadeInUp" data-wow-duration="1s">
					<div class="slide--bio">This should be used to tell a story and let your users know a little more about your service.</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center wow fadeInUp" data-wow-duration="1s">
					<div class="slide--action">
						<a class="btn btn--primary btn--bordered" href="#">Free Consultation</a>
					</div>
				</div>
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</div>
	<!-- .slide-item end -->
	<div class="slide--item bg-overlay bg-overlay-dark">
		<div class="bg-section">
			<img src="static/img/vr-bg.jpg" alt="bg">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 text-center wow fadeInUp" data-wow-duration="1s">
					<div class="slide--headline">advanced legal services</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center wow fadeInUp" data-wow-duration="1s">
					<div class="slide--bio">This should be used to tell a story and let your users know a little more about your service.</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center wow fadeInUp" data-wow-duration="1s">
					<div class="slide--action">
						<a class="btn btn--primary btn--bordered" href="#">hire us now</a>
					</div>
				</div>
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</div>
	<!-- .slide-item end -->
	
	<div class="slide--item bg-overlay bg-overlay-dark">
		<div class="bg-section">
			<img src="static/img/bg1.jpg" alt="bg">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 text-center wow fadeInUp" data-wow-duration="1s">
					<div class="slide--headline">Hire Experted Attorneys</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center wow fadeInUp" data-wow-duration="1s">
					<div class="slide--bio">This should be used to tell a story and let your users know a little more about your service.</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center wow fadeInUp" data-wow-duration="1s">
					<div class="slide--action">
						<a class="btn btn--primary btn--bordered" href="#">contact us</a>
					</div>
				</div>
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</div>
	<!-- .slide-item end -->
</section>
<!-- #slider end -->

<!-- Counter #1
=== === === === === === === === === === === === === === -->
<section id="counter1" class="counter">
	<div class="container">
		<div class="counter-container">
			<div class="row">
				<!-- count #1 -->
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="count-box">
						<div class="count-icon">
							<i class="icon icon-noun_740327_cc"></i>
						</div>
						<div class="count-content">
							<div class="counting">821</div>
							<div class="count-title">Cases won</div>
						</div>
					</div>
				</div>
				<!-- .col-md-3 end -->

				<!-- count #2 -->
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="count-box">
						<div class="count-icon">
							<i class="icon icon-noun_740337_cc"></i>
						</div>
						<div class="count-content">
							<div class="counting">189</div>
							<div class="count-title">Skilled lawyers</div>
						</div>
					</div>
				</div>
				<!-- .col-md-3 end -->

				<!-- count #3 -->
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="count-box">
						<div class="count-icon">
							<i class="icon icon-noun_740291_cc"></i>
						</div>
						<div class="count-content">
							<div class="counting">2630</div>
							<div class="count-title">Happy clients</div>
						</div>
					</div>
				</div>
				<!-- .col-md-3 end -->

				<!-- count #4 -->
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="count-box">
						<div class="count-icon">
							<i class="icon icon-noun_740322_cc"></i>
						</div>
						<div class="count-content">
							<div class="counting">540</div>
							<div class="count-title">Great Rewards</div>
						</div>
					</div>
				</div>
				<!-- .col-md-3 end -->
			</div>
			<!-- .row end -->
		</div>
	</div>
	<!-- .container end -->
</section>
<!-- #counter1 end -->

<!-- About
=== === === === === === === === === === === === === === -->
<section id="about" class="section about pb-0">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 wow fadeInUp">
				<img class="img-responsive center-block" src="static/img/team-4.png" alt="ipad"/>
			</div>
			<!-- .col-md-6 end -->
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1">
				<div class="heading heading-1 mt-70 wow fadeInUp" data-wow-duration="1s">
					<h2 class="heading--title">About Us</h2>
					<div class="heading--divider"></div>
				</div>
				<div class="about-content wow fadeInUp" data-wow-duration="1s">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sede do eiusmod tempor incididunt ut labore dolore magna aliqa Ut enim ad minim veniam, quis nostrud exercitation.</p>
					<p>Euis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida.</p>
					<img class="signture" src="static/img/signture.png" alt="signture">
				</div>
			</div>
			<!-- .col-md-6 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #feature2 end -->
<!-- Feature #2
=== === === === === === === === === === === === === === -->
<section id="feature2" class="section feature feature-2 feature-left bg-white mb-60">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading heading-1 text--center wow fadeInUp" data-wow-duration="1s">
					<h2 class="heading--title">Features</h2>
					<p class="heading--desc">Lorem ipsum dolor amet, consectetur adipisice elitesede eiusmod tempor incidide labeore dolore magna.</p>
					<div class="heading--divider mb-80 heading--center"></div>
				</div>
			</div>
			<!-- .col-md-6 end -->
		</div>
		<!-- .row end -->
		<div class="row">
			<!-- Panel #1 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="feature-panel wow fadeInUp" data-wow-duration="1s">
					<div class="feature--icon">
						<i class="icon icon-noun_740324_cc"></i>
					</div>
					<div class="feature--content">
						<h3>Criminal Law</h3>
						<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
					</div>
				</div>
				<!-- .feature-panel end -->
			</div>
			<!-- .col-md-4 end -->

			<!-- Panel #2 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="feature-panel wow fadeInUp" data-wow-duration="1s">
					<div class="feature--icon">
						<i class="icon icon-noun_740303_cc"></i>
					</div>
					<div class="feature--content">
						<h3>Real Estate Law</h3>
						<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
					</div>
				</div>
				<!-- .feature-panel end -->
			</div>
			<!-- .col-md-4 end -->

			<!-- Panel #3 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="feature-panel wow fadeInUp" data-wow-duration="1s">
					<div class="feature--icon">
						<i class="icon icon-noun_741284_cc"></i>
					</div>
					<div class="feature--content">
						<h3>Family Law</h3>
						<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
					</div>
				</div>
				<!-- .feature-panel end -->
			</div>
			<!-- .col-md-4 end -->
		
			<!-- Panel #4 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="feature-panel wow fadeInUp" data-wow-duration="1s">
					<div class="feature--icon">
						<i class="icon icon-noun_741298_cc"></i>
					</div>
					<div class="feature--content">
						<h3>International Law</h3>
						<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
					</div>
				</div>
				<!-- .feature-panel end -->
			</div>
			<!-- .col-md-4 end -->

			<!-- Panel #5 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="feature-panel wow fadeInUp" data-wow-duration="1s">
					<div class="feature--icon">
						<i class="icon icon-noun_741291_cc"></i>
					</div>
					<div class="feature--content">
						<h3>Financial Law</h3>
						<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
					</div>
				</div>
				<!-- .feature-panel end -->
			</div>
			<!-- .col-md-4 end -->

			<!-- Panel #6 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="feature-panel wow fadeInUp" data-wow-duration="1s">
					<div class="feature--icon">
						<i class="icon icon-noun_740314_cc"></i>
					</div>
					<div class="feature--content">
						<h3>Technology Law</h3>
						<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
					</div>
				</div>
				<!-- .feature-panel end -->
			</div>
			<!-- .col-md-4 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #feature2 end -->

<!-- Team #1
=== === === === === === === === === === === === === === -->
<section id="team" class="team team-1">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading heading-1 text--center wow fadeInUp" data-wow-duration="1s">
					<h2 class="heading--title">Photo Editing Simplified</h2>
					<p class="heading--desc">Lorem ipsum dolor amet, consectetur adipisice elitesede eiusmod tempor incidide labeore dolore magna.</p>
					<div class="heading--divider mb-80 heading--center"></div>
				</div>
			</div>
			<!-- .col-md-6 end -->
		</div>
		<!-- .row end -->
		<div class="row">
			<!-- Member #1 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="member">
					<div class="member-img">
						<img src="static/img/team-1.jpg" alt="member"/>
						<div class="member-overlay">
							<div class="member-social">
								<div class=" pos-vertical-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<!-- .memebr-ovelay end -->
					</div>
					<!-- .member-img end -->
					<div class="member-info">
						<h5>Mark Smith</h5>
						<h6>CEO & Manager</h6>
					</div>
					<!-- .member-info end -->
				</div>
				<!-- .member end -->
			</div>
			<!-- .col-md-3 end -->

			<!-- Member #2 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="member">
					<div class="member-img">
						<img src="static/img/team-2.jpg" alt="member"/>
						<div class="member-overlay">
							<div class="member-social">
								<div class=" pos-vertical-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<!-- .memebr-ovelay end -->
					</div>
					<!-- .member-img end -->
					<div class="member-info">
						<h5>Ryan Printz</h5>
						<h6>Family Lawyer</h6>
					</div>
					<!-- .member-info end -->
				</div>
				<!-- .member end -->
			</div>
			<!-- .col-md-3 end -->

			<!-- Member #3 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="member">
					<div class="member-img">
						<img src="static/img/team-3.jpg" alt="member"/>
						<div class="member-overlay">
							<div class="member-social">
								<div class=" pos-vertical-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<!-- .memebr-ovelay end -->
					</div>
					<!-- .member-img end -->
					<div class="member-info">
						<h5>Steve Martin</h5>
						<h6>Financial Lawyer</h6>
					</div>
					<!-- .member-info end -->
				</div>
				<!-- .member end -->
			</div>
			<!-- .col-md-3 end -->
		</div>
	</div>
</section> <!-- #team end  -->
<!-- Banner #3
=== === === === === === === === === === === === === === -->
<section id="banner3" class="bg-white pt-0 pb-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 pr-0 pl-0">
				<div class="col-img  bg-overlay">
					<div class="bg-section">
						<img src="static/img/unsplash.jpg" alt="Background"/>
					</div>
				</div>
			</div>
			<!-- .col-md-6 end-->
			<div class="col-xs-12 col-sm-12 col-md-7 col-content pl-100">
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="heading heading-1 wow fadeInUp" data-wow-duration="1s">
							<h2 class="heading--title">Why Hire Us ?</h2>
							<p class="heading--desc">Lorem ipsum dolor amet, consectetur adipisice elite sede eiusmod tempor incidide labeore dolore magna.</p>
							<div class="heading--divider mb-80"></div>
						</div>
					</div>
					<!-- .col-md-6 end -->
				</div>
				<!-- .row end -->
				<div class="row mb-50">
					<!-- Panel #1 -->
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="feature-panel">
							<div class="feature--icon">
								<i class="icon icon-noun_740300_cc"></i>
							</div>
							<div class="feature--content">
								<h3>Exclusively Areas</h3>
								<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
							</div>
						</div>
						<!-- .feature-panel end -->
					</div>
					<!-- .col-md-4 end -->

					<!-- Panel #2 -->
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="feature-panel">
							<div class="feature--icon">
								<i class="icon icon-noun_741355_cc"></i>
							</div>
							<div class="feature--content">
								<h3>Group of Lawyers</h3>
								<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
							</div>
						</div>
						<!-- .feature-panel end -->
					</div>
					<!-- .col-md-4 end -->

				</div>
				<!-- .row end -->
				<div class="row">
					<!-- Panel #3 -->
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="feature-panel">
							<div class="feature--icon">
								<i class="icon icon-noun_740296_cc"></i>
							</div>
							<div class="feature--content">
								<h3>Cases Results</h3>
								<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
							</div>
						</div>
						<!-- .feature-panel end -->
					</div>
					<!-- .col-md-4 end -->

					<!-- Panel #4 -->
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="feature-panel">
							<div class="feature--icon">
								<i class="icon icon-noun_741305_cc"></i>
							</div>
							<div class="feature--content">
								<h3>Experts in Law</h3>
								<p>Lorem ipsum dolor sit amet, conse adipise elit, sed eiusmod tempor incidide.</p>
							</div>
						</div>
						<!-- .feature-panel end -->
					</div>
					<!-- .col-md-4 end -->
				</div>
				<!-- .row end -->
			</div>
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #banner3 end -->
<!-- Testimonial #2
=== === === === === === === === === === === === === === -->
<section id="testimonial" class="testimonial">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading heading-1 text--center wow fadeInUp" data-wow-duration="1s">
					<h2 class="heading--title">Testimonials</h2>
					<p class="heading--desc">Lorem ipsum dolor amet, consectetur adipisice elite sede eiusmod tempor incidide labeore dolore magna.</p>
					<div class="heading--divider mb-80 heading--center"></div>
				</div>
			</div>
			<!-- .col-md-6 end -->
		</div>
		<!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="carousel" data-slide="3" data-slide-res="2" data-autoplay="true" data-nav="false" data-dots="false" data-space="30" data-loop="true" data-speed="800">
					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
						<div class="testimonial--meta-img">
							<img src="static/img/marie.jpg" alt="Testimonial Author">
						</div>
						<div class="testimonial--body">
							<p>“Legal represented me on a very serious matter where I was looking at significant prison time. Immediately, I knew that I was in good hands.”</p>
						</div>
						<!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<h4><span>-</span> Steve Martin</h4>
						</div>
						<!-- .testimonial-meta end -->
					</div>
					<!-- .testimonial-panel end -->

					<!-- Testimonial #2 -->
					<div class="testimonial-panel">
						<div class="testimonial--meta-img">
							<img src="static/img/ivana-square.jpg" alt="Testimonial Author">
						</div>
						<div class="testimonial--body">
							<p>“Legal represented me on a very serious matter where I was looking at significant prison time. Immediately, I knew that I was in good hands.”</p>
						</div>
						<!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<h4><span>-</span> Maya Jonson</h4>
						</div>
						<!-- .testimonial-meta end -->
					</div>
					<!-- .testimonial-panel end -->

					<!-- Testimonial #3 -->
					<div class="testimonial-panel">
						<div class="testimonial--meta-img">
							<img src="static/img/kal-visuals-square.jpg" alt="Testimonial Author">
						</div>
						<div class="testimonial--body">
							<p>“Legal represented me on a very serious matter where I was looking at significant prison time. Immediately, I knew that I was in good hands.”</p>
						</div>
						<!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<h4><span>-</span> Mark Smith</h4>
						</div>
						<!-- .testimonial-meta end -->
					</div>
					<!-- .testimonial-panel end -->


					<!-- Testimonial #4 -->
					<div class="testimonial-panel">
						<div class="testimonial--meta-img">
							<img src="staic/img/marie.jpg" alt="Testimonial Author">
						</div>
						<div class="testimonial--body">
							<p>“Legal represented me on a very serious matter where I was looking at significant prison time. Immediately, I knew that I was in good hands.”</p>
						</div>
						<!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<h4><span>-</span> Mark Smith</h4>
						</div>
						<!-- .testimonial-meta end -->
					</div>
					<!-- .testimonial-panel end -->
				</div>
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- .testimonial2 end -->

<!-- Banner 
=== === === === === === === === === === === === === === -->
<section id="banner" class="section cta pt-0 pb-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-7 col-content pl-100">
				<div class="heading heading-1 wow fadeInUp" data-wow-duration="1s">
					<h2 class="heading--title">Contact Us</h2>
					<p class="heading--desc">Lorem ipsum dolor amet, consectetur adipisice elite sede eiusmod tempor incidide labeore dolore magna.</p>
					<div class="heading--divider mb-80"></div>
				</div>
				<div class="form-request">
					<div class="row">
						<form class="mb-0">
							<div class="col-xs-12 col-sm-12 col-md-6">
								<input type="text" class="form-control" name="your-name" placeholder="Your Name">
							</div>
							<!-- .col-md-6 end -->
							<div class="col-xs-12 col-sm-12 col-md-6">
								<input type="email" class="form-control" name="your-email" placeholder="Your Email">
							</div>
							<!-- .col-md-6 end -->
							<div class="col-xs-12 col-sm-12 col-md-12">
								<select class="form-control">
									<option>Practice Area</option>
									<option>Criminal Law</option>
									<option>International Law</option>
									<option>Financial Law</option>
								</select>
							</div>
							<!-- .col-md-12 end -->
							<div class="col-xs-12 col-sm-12 col-md-12">
								<textarea class="form-control" name="your-message" rows="3" placeholder="Your Message"></textarea>
							</div>
							<!-- .col-md-12 end -->
							<div class="col-xs-12 col-sm-12 col-md-6">
								<input type="submit" class="btn btn--primary" value="send request">
							</div>
							<!-- .col-md-6 end -->
						</form>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-5 pr-0 pl-0">
				<div class="col-img">
					<div class="bg-section">
						<img src="static/img/bg-2.jpg" alt="Background"/>
					</div>
				</div>
			</div>
			<!-- .col-md-6 end-->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #banner2 end -->

		<!-- Footer #5
============================================= -->
		<footer id="footer" class="footer">
		<!-- Widget Section
	============================================= -->
	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 footer--widget-about">
					<div class="footer--widget-content">
						<img class="mb-20" src="static/img/logo-update-light.png" alt="logo">
						<p>Proin gravida nibh vel velit auctor aliquet anean lorem quis. bindum auctor, nisi elite conset ipsums sagtis id duis sed odio sit.</p>
						<div class="clearfix"></div>
						<div class="social">
							<a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
							<a class="share-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
							<a class="share-pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
						</div>
					</div>
				</div><!-- .col-md-4 end -->
				<div class="col-xs-12 col-sm-6 col-md-4 footer--widget-recent">
					<div class="footer--widget-title">
						<h5>Blog Posts</h5>
					</div>
					<div class="footer--widget-content">
						<div class="entry">
							<div class="entry--img">
								<img src="static/img/initial_enhancer.jpg" alt="entry">
							</div>
							<div class="entry--content">
								<div class="entry--title">
									<a href="#">Four ways to cheer yourself up on the Blue Monday!</a>
								</div>
								<div class="entry--meta">
									<span>Jan 20, 2017</span>
									<span><i class="fa fa-comment-o"></i> 6 comments</span>
								</div>
							</div>
						</div><!-- .entry end -->
						
						<div class="entry">
							<div class="entry--img">
								<img src="static/img/harschshivam.jpg" alt="entry">
							</div>
							<div class="entry--content">
								<div class="entry--title">
									<a href="#">Old cameras can capture images better than nowdays camera!</a>
								</div>
								<div class="entry--meta">
									<span>Jan 20, 2017</span>
									<span><i class="fa fa-comment-o"></i> 3 comments</span>
								</div>
							</div>
						</div><!-- .entry end -->
						
						<div class="entry">
							<div class="entry--img">
								<img src="static/img/home-decor-3.jpg" alt="entry">
							</div>
							<div class="entry--content">
								<div class="entry--title">
									<a href="#">Four ways to cheer yourself up on the Blue Monday!</a>
								</div>
								<div class="entry--meta">
									<span>Jan 20, 2017</span>
									<span><i class="fa fa-comment-o"></i> 5 comments</span>
								</div>
							</div>
						</div><!-- .entry end -->
					</div>
				</div><!-- .col-md-4 end -->
				<div class="col-xs-12 col-sm-6 col-md-4 footer--widget-contact">
					<div class="footer--widget-title">
						<h5>Get In Touch</h5>
					</div>
					<div class="footer--widget-content">
						<ul class="list-unstyled mb-0">
							<li><i class="fa fa-map-marker"></i> 1220 Petersham town, Wardll St New South Wales Australia PA 6550.</li>
							<li><i class="fa fa-phone"></i> (04) 491 570 110</li>
							<li><i class="fa fa-envelope-o"></i> contact@zytheme.com</li>
						</ul>
					</div>
				</div><!-- .col-md-4 end -->
			</div>
		</div><!-- .container end -->
	</div><!-- .footer-widget end -->
			<!-- Copyrights
	============================================= -->
		<div class="footer--copyright">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 text--center">
						<span>&copy; 2024, All rights reserved.</span>
					</div>
				</div>
			</div>
			<!-- .container end -->
			</div>
		</footer>
		</div>
		<!-- #wrapper end -->

		<!-- Footer Scripts
============================================= -->
		<script src="static/js/jquery-2.2.4.min.js"></script>
		<script src="static/js/plugins.js"></script>
		<script src="static/js/functions.js"></script>
</body>
</html>