{% extends "layouts/base.html" %}
{% load i18n static %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
{% if messages %}
    <ul class="messages d-flex justify-content-center alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container-fluid py-4">
	<div class="row mt-4">
        <div class="col-lg-12 mb-lg-0 mb-4">
			<div class="card ">
				<div class="card-header pb-0 p-3">
					<div class="d-flex justify-content-center">
					  	<h3 class="mb-2">Upload Image</h3>
					</div>
					<form class="d-flex justify-content-center" action="{% url 'detail_save' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                            <label>Your Name
                                <input type="text" name="myName"/>
                            </label>
                        </p> 
                        <p>
                            <label>Your Image File
                                <input type="file" name="myImage" accept="image/*" />
                            </label>
                        </p>
                        <p>
                            <input type="submit">
                        </p>  	
					</form>
				</div>
                <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="button" class="btn btn-outline-primary btn-sm">Retrieve Details</button>
                </div> -->
                
                				
			</div>	
		</div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-12 mb-lg-0 mb-4">
			<div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">
                    <h6 class="text-capitalize">User Details Overview</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center ">
                        <tbody>
                            {% for active_image in active_user_image %}
                            <tr>
                                <td class="w-30">
                                    <div class="d-flex px-2 py-1 align-items-center">
                                        <img class="image" src="{{ MEDIA_URL }}{{active_image.cover}}" style="height: 300px; width: 300px;">
                                  </div>
                                  <div class="ms-4">
                                        <p class="text-xs font-weight-bold mb-0">Name:</p>
                                        <h6 class="text-sm mb-0">{{active_image.name}}</h6>
                                    </div>
                              </td>
                                
                                <!-- <p> {{active_image.author}} - {{active_image.name}} - {{active_image.cover}}</p> -->
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="button" class="btn btn-outline-primary btn-sm">Enhance Image</button>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="button" class="btn btn-outline-primary btn-sm">Background Customization</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
</div>
{% endblock content %}

<!-- {% block scripts %}
<style>
	
	.image {

	}
</style>

{% endblock scripts %} -->