<footer class="footer pt-3 text-bg-primary">
  	<div class="container-fluid">
    	<div class="row justify-content-lg-between">
      		<div class="col-lg-4 mb-lg-0 mb-4">
        		<div class="copyright text-center text-sm text-lg-start text-white">
          			&copy; ImageSync.
        		</div>
      		</div>

      		<div class="col-lg-8">
        		<ul class="nav nav-footer justify-content-between justify-content-lg-start">
          			<li class="nav-item">
            			<a class="nav-link text-white">Products</a>
						<ul>
							<li><a href="#">Photo Editor</a></li>
							<li><a href="#">Link1b</a></li>
							<li><a href="#">Link1c</a></li>
						</ul>
          			</li>
          			<li class="nav-item">
						<a class="nav-link text-white">AI Features</a>
						<ul>
							<li><a href="#">Background Remover</a></li>
							<li><a href="#">Object Eraser</a></li>
							<li><a href="#">Photo Enhancer</a></li>
							<li><a href="#">Upscale</a></li>
							<li><a href="#">Sky Replacer</a></li>
							<li><a href="#">Deblur</a></li>
							<li><a href="#">Old Photo Restorer</a></li>
							
						</ul>
          			</li>
					<li class="nav-item">
						<a class="nav-link text-white">Company</a>
						<ul>
							<li><a href="#">Link1a</a></li>
							<li><a href="#">Link1b</a></li>
							<li><a href="#">Link1c</a></li>
						</ul>	
          			</li>
					<li class="nav-item">
						<a class="nav-link text-white">Resources</a>
						<ul>
							<li><a href="#">Link1a</a></li>
							<li><a href="#">Link1b</a></li>
							<li><a href="#">Link1c</a></li>
						</ul>	
          			</li>
        		</ul>
      		</div>
    	</div>
  	</div>
</footer>
