<footer class="footer pt-3 text-bg-primary">
  	<div class="container-fluid">
    	<div class="row justify-content-lg-between">
      		<div class="col-lg-4 mb-lg-0 mb-4">
        		<div class="copyright text-center text-sm text-lg-start text-white">
          			&copy; ImageSync.
        		</div>
				<div class="text-center text-sm text-lg-start text-white">
					<ul>
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-pinterest"></a></li>
					</ul>
			  	</div>
      		</div>

      		<div class="col-lg-8">
        		<ul class="nav nav-footer justify-content-between justify-content-lg-start">
          			<li class="nav-item">
            			<a class="nav-link text-white">Products</a>
						<ul>
							<li><a href="#" style="color: aliceblue;">Photo Editor</a></li>
							<li><a href="#" style="color: aliceblue;">Link1b</a></li>
							<li><a href="#" style="color: aliceblue;">Link1c</a></li>
						</ul>
          			</li>
          			<li class="nav-item">
						<a class="nav-link text-white">AI Features</a>
						<ul>
							<li><a href="#" style="color: aliceblue;">Background Remover</a></li>
							<li><a href="#" style="color: aliceblue;">Object Eraser</a></li>
							<li><a href="#" style="color: aliceblue;">Photo Enhancer</a></li>
							<li><a href="#" style="color: aliceblue;">Upscale</a></li>
							<li><a href="#" style="color: aliceblue;">Sky Replacer</a></li>
							<li><a href="#" style="color: aliceblue;">Deblur</a></li>
							<li><a href="#" style="color: aliceblue;">Old Photo Restorer</a></li>
							
						</ul>
          			</li>
					<!-- <li class="nav-item">
						<a class="nav-link text-white">Company</a>
						<ul>
							<li><a href="#" style="color: aliceblue;">Link1a</a></li>
							<li><a href="#" style="color: aliceblue;">Link1b</a></li>
							<li><a href="#" style="color: aliceblue;">Link1c</a></li>
						</ul>	
          			</li> -->
					<li class="nav-item">
						<a class="nav-link text-white">Resources</a>
						<ul>
							<li><a href="#" style="color: aliceblue;">Link1a</a></li>
							<li><a href="#" style="color: aliceblue;">Link1b</a></li>
							<li><a href="#" style="color: aliceblue;">Link1c</a></li>
						</ul>	
          			</li>
        		</ul>
      		</div>
    	</div>
  	</div>
</footer>
