{% load i18n static admin_argon %}

<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="/">
            <img src="{% static 'img/logo-ct-dark.png' %}" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold">ImageSync Dashboard</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
        <div class="w-auto" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                {% admin_get_menu as app_list %}
                {% if app_list %}
                    {% for app in app_list %}
                        {% if app.has_perms and not app.pinned %}
                            <li class="nav-item">
                                <a class="nav-link {% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenu-{{ app.app_label }}" href="{{ app.url }}">
                                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="{{ app.icon }} text-primary text-sm opacity-10"></i>
                                    </div>
                                    <span class="nav-link-text ms-1">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                                </a>
                                {% if app.models %}
                                    <div class="multi-level ms-5 collapse {% if 'tables-bootstrap-' in segment or app_label == app.label or app.url in request.path|urlencode %} show {% endif %}" role="list" id="submenu-{{ app.app_label }}"                                                                                                       aria-expanded="{% if app_label == app.label or app.url in request.path|urlencode %}true{% else %}false{% endif %}">
                                        <ul class="flex-column nav">
                                            {% for model in app.models %}
                                                {% if model.url %}
                                                    <li class="nav-item{% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %} list-unstyled">
                                                        <a class="nav-link" href="{{ model.url }}">
                                                            <span class="nav-link-text ms-1">{{ model.label }}</span>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="nav-item list-unstyled">{{ model.label }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                {% if app.serializers %}
                                    <div class="multi-level ms-5 collapse {% if 'tables-bootstrap-' in segment or app_label == app.label or app.url in request.path|urlencode %} show {% endif %}" role="list" id="submenu-{{ app.app_label }}"                                                                                                       aria-expanded="{% if app_label == app.label or app.url in request.path|urlencode %}true{% else %}false{% endif %}">
                                        <ul class="flex-column nav">
                                            {% for api in app.serializers %}
                                                {% if api.url %}
                                                    <li class="nav-item{% if 'bootstrap-tables' in segment or api.url in request.path|urlencode %} active {% endif %} list-unstyled">
                                                        <a class="nav-link" href="{{ api.url }}">
                                                            <span class="nav-link-text ms-1">{{ api.label }}</span>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="nav-item list-unstyled">{{ api.label }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <li class="nav-item">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'admin:index' %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% else %}
                        <a href="{% url 'index' %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% endif %}
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                    </a>
                </li>

                <li class="nav-item">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'new-user' %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% else %}
                        <a href="{% url 'new-user' %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% endif %}
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">New User API</span>
                    </a>
                    </a>
                </li>

                <li class="nav-item">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'user-detail' user.id %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% else %}
                        <a href="{% url 'user-detail' user.id %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% endif %}
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Check User API</span>
                    </a>
                    </a>
                </li>

                <li class="nav-item">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'image-view' %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% else %}
                        <a href="{% url 'image-view' %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% endif %}
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Image View API</span>
                    </a>
                    </a>
                </li>

                <li class="nav-item">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'image-detail' user.id %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% else %}
                        <a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">
                    {% endif %}
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Get Image API</span>
                    </a>
                    </a>
                </li>
            </ul>
        </div>
    </hr>
</aside>